{% extends 'app/base.html' %}
{% block content %}
{% load static %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="section banner-page" data-background="{% static '/images/employee1.jpg' %}">
    <div class="content-wrap pos-relative">
        <div class="d-flex justify-content-center  mt-5">
            <div class="title-page text-light">FORGOT PASSWORD</div>
        </div>
        
    </div>
</div>
<div class="section bg-breadcrumb">
	<div class="content-wrap py-0 pos-relative">
		<div class="container">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb ">
				<li class="breadcrumb-item"><a href="{% url 'index' %}" style="color: rgb(52, 52, 121);">HOME</a></li>
				<li class="breadcrumb-item active" aria-current="page" style="color: rgb(216, 114, 77);">Forgot Password</li>
			  </ol>
			</nav>					
		</div>
	</div>
</div>
<div class="container">
<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form action="{% url 'forgot-password' %}" method="post" role="form">
			<fieldset>
				<center><h2>Forgot Password</h2></center>
				<br>
				<div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" required="">
				</div>
				<br>
				<div class="form-group text-center">
					<input type="submit" class="btn btn-lg btn-success" value="SUBMIT">
					<label class="ml-2 mr-2 p-2 rounded-circle"
						style="background-color: #000; color: #fff;">OR</label>
					<a href="{% url 'loginpage' %}" class="btn btn-lg btn-primary">LOGIN PAGE</a>
				</div>
				<br>
				<br>
			</fieldset>
		</form>
	</div>
</div>
</div>
{% endblock %}