
{% extends 'app/base.html' %}

{% block content %}
{% load static %}
	<!-- BANNER -->
	<div class="section banner-page" data-background="{% static '/images/employee1.jpg' %}">
		<div class="content-wrap pos-relative">
			<div class="d-flex justify-content-center bd-highlight mb-2">
				<div class="title-page text-light">SERVICES</div>
			</div>
			<!-- <p class="text-center text-white">Your pet's health and well-being are our top priority.</p> -->
		</div>
	</div>

	<!-- BREADCRUMB -->
	<div class="section bg-breadcrumb">
		<div class="content-wrap py-0 pos-relative">
			<div class="container">
			    <nav aria-label="breadcrumb">
				  <ol class="breadcrumb ">
				    <li class="breadcrumb-item"><a href="{% url 'index' %}" style="color: rgb(52, 52, 121);">Home</a></li>
				    <li class="breadcrumb-item active" aria-current="page" style="color: rgb(216, 114, 77);">Services</li>
				  </ol>
				</nav>					
			</div>
		</div>
	</div>

	<!-- CONTENT -->
	<div class="">
		<div class="content-wrap">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-12	">
						<h2 class="section-heading text-center text-primary no-after mt-4 mb-5">
							Our Services
						</h2>
						<p class="subheading text-center">Your pet's health and well-being are our top priority.</p>
					</div>
				</div>

				<div class="row mt-4">
					{% for i in service %}
					<!-- Item 1 -->
					<div class="col-12 col-sm-6 col-md-4">
						<div class="rs-image-box">
							<div class="media">
								<img src="{{MEDIA_URL}}{{i.post_image.url}}"  style="width:266px;height:150px" alt="" class="img-fluid m-auto">
							</div>
							<div class="body-text">
								<h3 class="title">{{i.Service_Name}}</h3>
							</div>
						</div>
						
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
	

	<!-- CTA -->
	<div class="section cta bgi-cover-center" data-background="images/dummy-img-1920x900-2.jpg">
		<div class="content-wrap py-5">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-sm-12 col-md-12">
						<div class="cta-1">
			              	
			              	<div class="body-action">
			                	<a href="{% url 'loginpage' %}" class="btn btn-secondary">Book Service Now!</a>
			              	</div>
			            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
	