{% extends 'app/base.html' %}

{% block content %}
    <!-- BANNER -->
    <div class="section banner-page" data-background="images/dummy-img-1920x300.jpg">
        <div class="content-wrap pos-relative">
            <div class="d-flex justify-content-center bd-highlight mb-2">
                <div class="title-page">{{ser_des.Service_Name}}</div>
            </div>
            <p class="text-center text-white">Your pet's health and well-being are our top priority.</p>
        </div>
    </div>

    <!-- BREADCRUMB -->
    <div class="section bg-breadcrumb">
        <div class="content-wrap py-0 pos-relative">
            <div class="container">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'ServicePage' %}">Services</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Read More</li>
                  </ol>
                </nav>                  
            </div>
        </div>
    </div>
    

    <!-- CONTENT -->
    
    <div id="class" class="">
        <div class="content-wrap">
            <div class="container">
                <!-- <form action="" method="post">
                    {% csrf_token %} -->
                <div class="row">
                    
                    <!-- Item 1 -->
                    {% if ser_des %}
                    
                
                        <img src="{{MEDIA_URL}}{{ser_des.post_image.url}}" class="avatar img-circle img-thumbnail" alt="avatar" width="400" height="400">
						<h3 class="title"><a href="">{{ser_des.Service_Description}}</a></h3>
                            
                    {% endif %}

                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>

    <!-- CTA -->
    <div class="section cta bgi-cover-center" data-background="images/dummy-img-1920x900-2.jpg">
        <div class="content-wrap py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12">
                        <div class="cta-1">
                            
                            <div class="body-action">
                                <a href="{% url 'loginpage' %}" class="btn btn-secondary">Book Service Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    






